* {
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 60px;
	background-color: black;
	bottom-border: solid 5px yellow;
	overflow: hidden;
}

nav {
  	width: 70%;
  	float: right;
  	padding-right: 40px;
  	padding-top: 22px;
  	text-align: right;
}

h1 {
	color: yellow;
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 19px;
	font-size: 28px;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

footer {
	width: 100%;
	height: 60px;
	background-color: black;
	clear: both;
	color: white;
}

.clearfix::after {
	display: block;
	content:  "";
	visibility: hidden;
	height: 0px;
	clear: both;
}

.nav-text {
	color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.home {
	background-color: grey;
}

.home-left {
	display: inline-block;
	height: 100%;
	width: 50%;
	float: left;
}

.Hi {
	position: absolute;
	text-decoration: none;
	color: black;
    width: 50%;
    font-size: 46px;
    font-family: sans-serif;
    margin-top: -40%;
    margin-left: 2%;
    font-family: 'Poiret One';
}

.home-grid-text {
	position: absolute;
	text-align: center;
	text-decoration: none;
	color: white;
    width: 25%;
    font-size: 32px;
    font-family: sans-serif;
    margin-top: -15%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.home-right {
	display: inline-block;
	height: 100%;
	width: 50%;
	filter: brightness(30%); /*Get Text to be unaffects by brightness */
}

.home-grid-upper-left {
	height: 50%;
	width: 50%;
	float: left;
}

.home-grid-upper-right {
	height: 50%;
	width: 50%;
	float: left;
}

.home-grid-lower-left {
	height: 50%;
	width: 50%;
	float: left;
	margin-top: -4px;
}

.home-grid-lower-right {
	height: 50%;
	width: 50%;
	float: left;
	margin-top: -4px;
}

/* PROFILE SECTIONS */

.profile-top {
	width: 100%;
	background-color: #2f3441;
	height: 100px;
	clear: both;
	text-align: center;
	padding-top: 50px;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 40px;
}

.profile-header-left {
	width: 50%;
	height: 150px;
	float: left;
	background-color: grey;
	display: inline-block;
	text-align: center;
	background: linear-gradient(to left bottom, #2f3441 50%, #212531 50%);
}

.profile-header-right {
	width: 50%;
	height: 150px;
	float: right;
	background-color: grey;
	display: inline-block;
	background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.profile-header-right {
	width: 50%;
	height: 150px;
	float: left;
	background-color: grey;
}

.profile-1-section-left {
	height:100%;
	width: 50%;
	float: left;
}

.profile-1-section-right {
	height: 100%;
	width: 50%;
	float: right;
}

.profile-1-upper-left {
	height: 500px;
	background-color: lightgrey;
}

.profile-1-bottom-left {
	height: 100%;
	font-family: 'Abril Fatface';
}

.profile-1-upper-right {
	height: 100%;
	font-family: 'Abril Fatface';
}

.profile-1-bottom-right {
	height: 500px;
	background-color: lightgrey;
}

/* RESUME */

.resume-box {
	padding-top: 40px;
	padding-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	padding-top: 65px;
	height: 1010px;
		text-align: center
}

.pdf-contain {
	height: 600px;
	width: 100%;
	margin-top: 70px;
	position: absolute;	
	text-align: center
}

/* CONTACT */

.contact-banner {
	height: 100%;
	width: 100%;
}

.contact-body {
	height: 500px;
	width: 100%;
}

.contact-text {
	text-align: center;
	font-size: 40px;
	margin-bottom: 60px;
	padding-top: 60px;
	font-family: 'Josefin Sans', sans-serif;
}

.contact-border {
	border-bottom: solid 3px red;
	width: 3%;
	margin:auto;
}

.contact-grid {
	width: 450px;
	height: 450px;
	margin: auto;
	margin-top: 60px;
	box-sizing: border-box;
}

.contact-grid-upper-left {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-lower-left {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-upper-right {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-lower-right {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.footer-text {
	padding-top: 22px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}