* {
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 60px;
	background-color: black;
	bottom-border: solid 5px yellow;
	overflow: hidden;
}

nav {
  	width: 70%;
  	float: right;
  	padding-right: 40px;
  	padding-top: 22px;
  	text-align: right;
}

h1 {
	color: yellow;
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 19px;
	font-size: 28px;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

footer {
	width: 100%;
	height: 60px;
	background-color: black;
	clear: both;
	color: white;
}

iframe {
	float: left;
	padding: 20px;
	margin-bottom: 80px;
	box-sizing: border-box;
}

.clearfix::after {
	display: block;
	content:  "";
	visibility: hidden;
	height: 0px;
	clear: both;
}

.nav-text {
	color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.home {
	background-color: black;
}

.home-left {
	display: inline-block;
	height: 100%;
	width: 50%;
	float: left;
}

.Hi {
	position: absolute;
	text-decoration: none;
	color: black;
    width: 50%;
    font-size: 46px;
    font-family: sans-serif;
    margin-top: -40%;
    margin-left: 2%;
    font-family: 'Poiret One';
}

.home-grid-text {
	position: absolute;
	text-align: center;
	text-decoration: none;
	color: white;
    width: 25%;
    font-size: 32px;
    font-family: sans-serif;
    margin-top: -15%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.home-right {
	display: inline-block;
	height: 100%;
	width: 50%;
	filter: brightness(30%); /*Get Text to be unaffects by brightness */
}

.home-grid-upper-left {
	height: 50%;
	width: 50%;
	float: left;
}

.home-grid-upper-right {
	height: 50%;
	width: 50%;
	float: left;
}

.home-grid-lower-left {
	height: 50%;
	width: 50%;
	float: left;
	margin-top: -4px;
}

.home-grid-lower-right {
	height: 50%;
	width: 50%;
	float: left;
	margin-top: -4px;
}

/* PROFILE SECTIONS */

.job-text {
	font-size: 25px;
	padding-bottom: 5px;
}

.job-subtext {
	font-size: 15px;
	padding-bottom: 5px;
}

.degree-text {
	font-size: 20px;
	padding-top: 10px;
}

.profile-text {
	font-size: 19px;
	line-height: 1.6;
}

.profile-header-text {
	font-size: 30px;
	line-height: 1.6;
}

.profile-upper-box {
  	width: 100%; 
  	height: 240px;
    background: url(../images/WorkDesk.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: contain;
	text-align: center;
	padding-top: 150px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
}

.profile-top-section {
	height: 525px;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}

.profile-top-left {
	float: left;
	width: 20%;
	padding-top: 40px;
	padding-left: 40px;
	box-sizing: border-box;
}

.profile-top-right {
	float: right;
	width: 80%;
	height: 80%;
	font-size: 19px;
	padding-right: 60px;
	padding-top: 40px;
	line-height: 1.4;
	box-sizing: border-box;
	clear: none;
}

.profile-middle-section {
	height: 600px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	background-color: #ebebe0;
}

.achievements-text {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-style: underline;
}

.profile-middle-section-left {
	height: 80%;
	width: 20%;
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	padding-top: 40px;
	padding-left: 40px;
	box-sizing: border-box;
}

.profile-middle-section-middle {
	float:left;
	display:inline-block;
	width: 40%;
	padding-top: 40px;
	box-sizing: border-box;
}

.profile-middle-section-left-top {
	height: 50%;
	clear: both;
}

.profile-middle-section-left-bottom {
	height: 30%;
	padding-top: 20px;
	clear: both;
}

.profile-middle-section-middle-top {
	height: 50%;
}

.profile-middle-section-middle-bottom {
	height: 30%;
	padding-top: 40px;
	line-height: 1.4;
}

.profile-middle-section-right {
	height: 80%;
	width: 30%;
	background-color: white;
	float:right;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 80px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	border: solid 2px lightgrey;
	box-sizing: border-box;
}

.profile-bottom-section {
	height: 1000px;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
}

.profile-bottom-section-left {
	height: 80%;
	width: 20%;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	padding-top: 40px;
	padding-left: 40px;
}

.profile-bottom-section-right {
	float:right;
	width:70%;
	padding-top: 40px;
	height: 80%;
	padding-right: 60px;
}

/* PERSONAL PROFILE */

.pers-top {
	width: 100%;
	height: 100px;
	clear: both;
	text-align: center;
	padding-top: 120px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	color: white;
	padding-bottom: 30px;
}

.pers-top-section {
	background-image: url(../images/drums.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: contain;
	width: 100%;
	height: 400px;
}

.pers-top-text {
   font-size: 20px;
   text-align: center;
   font-style: italic;
   font-weight: 300;
   padding-top: 55px;
}

.pers-header-left {
	width: 50%;
	height: 150px;
	float: left;
	display: inline-block;
	text-align: center;
	position: inherit;
	background: linear-gradient(to left bottom, rgba(0,0,0,0) 50%, rgba(33,37,49,0.5) 50%);
}

.pers-header-right {
	width: 50%;
	height: 150px;
	float: right;
	display: inline-block;
	background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%, rgba(33,37,49,0.5) 50%);
}

.profile-header-right { 
	width: 50%;
	height: 150px;
	float: left;
}

.pers-section-about {
	height: 400px;
	clear: both;
}

.pers-upper-left  {
    position: relative;
    width: 50%;
	float: left;
	padding-bottom: 40px;
	padding:40px;
	box-sizing: border-box;
}

.pers-upper-left img {
	padding-bottom: 40px;
} 

.pers-middle-photo {
	background-image: url(../images/China2017.jpg);
	height: 350px;
	width: 100%;
	clear: both;
	border: solid 1px grey;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 2000px 1000px;
	background-position: bottom;
}

.pers-upper-right {
	width: 50%;
	float: right;
	display: inline-block;
	padding:40px;
	box-sizing: border-box;
	text-align: justify;
}

.pers-section-bottom {
	height: 500px;
	width: 100%;
	clear: both;
	padding-top: 100px;
}

.pers-bottom-left {
	width: 50%;
	float: left;
	padding:40px;
	box-sizing: border-box;
	text-align: justify;
}

.pers-bottom-right {
	float: right;
	width: 50%;
	/* padding-top: 200px; */
	padding: 40px;
	box-sizing: border-box;
}

.pers-bottom-right img {
	padding-bottom: 40px;
	padding-top: 40px;
} 

.pers-title-text {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	padding-bottom: 15px;
}

.pers-body-text {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	padding-bottom: 40px;
}

.pers-bottom-photo {
	background-image: url(../images/Hawaiiblackrock.jpg);
	height: 350px;
	width: 100%;
	clear: both;
	border: solid 1px grey;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 420px; 
	background-position: bottom;
	background-color: darkgrey;
}

/* RESUME */

.resume-box {
	padding-top: 40px;
	padding-bottom: 50px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	padding-top: 65px;
	height: 1010px;
	text-align: center;
}

.pdf-contain {
	height: 600px;
	width: 100%;
	margin-top: 70px;
	position: absolute;	
	text-align: center;
}

.resume-button {
	width: 200px;
	height: 45px;
	border: solid 3px rgba(128,128,128,0.8);
	margin: auto;
	margin-top: 50px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	display: block;
	font-size: 20px;
	text-decoration: none;
	padding-top: 30px;
}

/* CONTACT */

.contact-banner {
	height: 100%;
	width: 100%;
}

.contact-body {
	height: 500px;
	width: 100%;
}

.contact-text {
	text-align: center;
	font-size: 40px;
	margin-bottom: 60px;
	padding-top: 60px;
	font-family: 'Josefin Sans', sans-serif;
}

.contact-border {
	border-bottom: solid 3px red;
	width: 3%;
	margin:auto;
}

.contact-grid {
	width: 450px;
	height: 450px;
	margin: auto;
	margin-top: 60px;
	box-sizing: border-box;
}

.contact-grid-upper-left {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-lower-left {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-upper-right {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.contact-grid-lower-right {
	height: 50%;
	width: 50%;
	float: left;
	padding: 25px;
	box-sizing: border-box;
}

.footer-text {
	padding-top: 22px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}